<div class="jumbotron custom-jumbo text-center">
	<div class="container">
	<h1><span class="custom-h1">TODO </span><span><s>app</s></span></h1>
	<p>Powered by <span class="glyphicon glyphicon-bold custom-border"></span> ootsrap</p>
	</div>
</div>
<div class="container custom-container">
	<nav class="navbar navbar-inverse custom-nav-inverse">
  <div class="container-fluid custom-fluid">
    <div class="navbar-header">
    <a class="navbar-brand custom-nav" href="#"><span class="glyphicon glyphicon-scissors"></span></a>
<!--       <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a> -->
    </div>
  </div>
</nav>
<!-- 	<nav class="navbar navbar-default navbar-fixed-top">
		<div ui-view="header"></div>
	</nav>
 -->
<!-- 	<footer class="footer">
		<div ui-view="footer"></div>
	</footer> -->

<!-- 	<div class="page-header">
  		<h1>Example page header <small>Subtext for header</small></h1>
	</div> -->
</div>
<div id="main" class="container">
	<div ui-view="main"></div>
</div>


<footer class="custom-foot">
	
	<div class="container">
		<span class="glyphicon glyphicon-copyright-mark"> Evan Edwin Lopez</span>	
	</div>

</footer>