<div class="form-group has-warning has-feedback">
<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-pencil"></span></span>
  <input type="text" class="form-control custom-radius" ng-model="createTodo" placeholder="Todo here" aria-describedby="sizing-addon1">
  <div class="input-group-btn custom-group">
  <span class="custom-span-style"><input type="button" class="btn btn-primary" value="Save" ng-click="SaveTodo($index,createTodo)"/></span>
  <span><input type="button" class="btn btn-danger" value="Cancel" ng-click="DeleteRow($index)"/></span>
  </div>
</div>
</div>